{% extends template.self %}

{% block body %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/ace/1.2.6/mode-json.js" type="text/javascript" charset="utf-8"></script>
    <script>
    function prepareEditors() {
        var nodes = document.getElementsByClassName("editor");
        for (i=0;i<nodes.length;i++) {
            var node = nodes.item(i);
            node.innerHTML = JSON.stringify(JSON.parse(node.innerHTML), null, 2);
            node.style.display = "block";
        }
        for (i=0;i<nodes.length;i++) {
            var node = nodes.item(i);
            var editor = ace.edit(node);
            var JsonMode = ace.require("ace/mode/json").Mode;
            editor.session.setMode(new JsonMode());
            editor.setDisplayIndentGuides(false);
            editor.setShowPrintMargin(false);
            editor.setReadOnly(true);
            editor.setAutoScrollEditorIntoView(true);
            editor.setOptions({ maxLines: Infinity, scrollPastEnd: false, wrap: 'free' });
            editor.resize();
            editor.clearSelection();
        }
    }
    </script>
    <img src style="display: none;" onerror="prepareEditors()"/>
{% endblock %}