# Xcode
#

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
xcshareddata/


## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
.DS_Store
appledoc


## carthage
Carthage/Build

## cocoapods
Pods/*
Pods
node_modules/*

## vscode
.vscode
.vscode/*
