
.demo {
    box-shadow: 2px 2px 8px #aaa;
}

/* Summary */

.chapter span {
    color: #888 !important;
}

.summary>li>a, .summary>li>span {
    font-size:16px;
    padding-bottom: 6px !important;
    padding-top: 12px !important;
    padding-left: 30px !important;
/*     background-color: rgba(226, 72, 16, 1) !important; */
/*     color: white !important; */
}

.summary li.active>a {
    font-weight: bold;
}

.summary li>a:hover {
    text-decoration: none !important;
    color: #008cff !important;
}

.summary>li>ul>li>a, .summary>li>ul>li>span {
    padding: 6px 15px !important;
    padding-left: 30px !important;
}

/* Markdown */
.markdown-section h1,h2,h3,h4,h5,h6,p {
    font-family: Consolas,'Liberation Mono',Menlo,Courier,monospace;
    font-weight: 400 !important;
}

.markdown-section blockquote {
    border-left: 4px solid #E24810;
}

/* plugin: anchor-navigation-ex */
.anchor-navigation-ex-anchor i {
    color: #E24810 !important;
}

#anchor-navigation-ex-navbar>ul {
    list-style-type: disc;
    margin-left: 8px;
}

#anchor-navigation-ex-navbar>ul>ul {
    list-style-type: circle
}

#anchor-navigation-ex-navbar {
    max-width: 80%;
}

#anchor-navigation-ex-navbar ul li>a {
    color: #E24810;
}

.fa-anchor:before {
    content: "\f03a";
}

/* Ace Editor */
.ace_gutter-cell {
    border-left: 4px solid #E24810;
}

.ace_fold-widget {
    border-radius: 0 !important;
}

.ace_fold-widget:hover {
    background-color: rgba(226, 72, 16, 0.2) !important;
    box-shadow: none !important;
    border:0 !important;
}

.ace_fold-widget:active {
    background-color: rgba(226, 72, 16, 0.4) !important;
    box-shadow: none !important;
    border:0 !important;
}
